<div class="menu">
    <div class="amd">
        <img class="A" src="assets/Vector.png">
        <img class="M" src="assets/Vector2.png">
        <img class="D" src="assets/Vector3.png">

        <h1>Atención Médica</h1>
        <h2>Domiciliaria</h2>

    </div>

    <div class="links">

        <div class="home">
            <img src="assets/home.png">
            <a [routerLink]="[ '/reactive/tienda']" routerLinkActive="active">
                <h1>
                    Tienda
                </h1>
            </a>

            <img class="flecha" src="assets/flechita.png">

        </div>

        <div class="planes">
            <img src="assets/planesx.png">
            <a [routerLink]="[ '/reactive/planes-amd']" routerLinkActive="active">
                <h1>
                    Planes AMD
                </h1>
            </a>
            <img class="flecha_dos" src="assets/flechita.png">
        </div>


        <div class="integral">
            <img src="assets/integral.png">
            <a [routerLink]="[ '/reactive/integral']" routerLinkActive="active">
                <h1>
                    AMD Integral
                </h1>

            </a>
            <img class="flecha_tres" src="assets/flechita.png">
        </div>


        <div class="cotizacion">
            <img src="assets/cotizacion.png">
            <a [routerLink]="[ '/reactive/cotizacion']" routerLinkActive="active">
                <h1>
                    Cotización
                </h1>
            </a>

        </div>

    </div>

</div>